/* :root {
  --primaryColor: #B6C9F0;
  --cardColor: #035397;
  --fontColor: #F6F5F5;
  --textAreaBg:#001E6C;
  --mainTextSize:20px;
} */
:root {
  --primaryColor: #2c2e43;
  --fontColor: #cac9c9;
  --mainTextSize: 20px;
  --boxShadow: 2px 2px 5px #12121b, -2px -2px 5px #464a6b;
  --textShadow:1px 1px 1px #12121b,-1px -1px 1px #464a6b;
}
body {
  padding: 20px;
  max-width: 960px;
  margin: 0px auto;
  margin-right: auto;
  background-color: var(--primaryColor);
  font-weight: lighter;
  font-size: var(--mainTextSize);
  font-family: "Poppins", sans-serif;
  /* padding: 0px 10px 0px 10px; */
  color: var(--fontColor);
  text-shadow: var(--textShadow);
}
::selection {
  background: var(--primaryColor);
  color: #525896;
  border-radius: 20px;
}
/* span{
  color: #2c2e43;
  text-shadow: -1px -1px 1px #12121b,1px 1px 1px #464a6b;
} */
small {
  font-size: 12px;
}
img {
  cursor: pointer;
  background: var(--primaryColor);
}
.note {
  background-color: var(--cardColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  background: #2c2e43;
  box-shadow: var(--boxShadow);
}

.note.new {
  background-color: var(--textAreaBg);
  font-size: var(--mainTextSize);
  height: 20px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #12121b,inset -2px -2px 5px #464a6b;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

textarea {
  border: none;
  background-color: var(--primaryColor);
  resize: none;
  font-size: var(--mainTextSize);
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
  text-shadow: var(--textShadow);
}
textarea:focus {
  outline: none;
  overflow: hidden;
}
textarea::placeholder {
  color: var(--fontColor);
  font-size: var(--mainTextSize);
  text-shadow: var(--textShadow);
}
textarea::target-text {
  text-shadow: var(--textShadow);
}

.save {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  background: #2c2e43;
  box-shadow: 1px 1px 2px #12121b, -1px -1px 2px #464a6b;
  font-size: 15px;
  padding: 5px 10px;
  color: var(--textAreaBg);
  text-shadow: var(--textShadow);
  font-family: "Poppins", sans-serif;
  transition: all 3s ease-in-out;
}
.save:hover {
  background-color: #2c2e43;
  box-shadow: inset 1px 1px 2px #12121b, inset -1px -1px 2px #464a6b;
  transition: all 3s ease-in-out;
}
.load-animation {
  animation: note-pop 1s ease-in-out;
}
@keyframes note-pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
