/* :root {
  --background: #B6C9F0;
  --cardColor: #035397;
  --fontColor: #F6F5F5;
  --textAreaBg:#001E6C;
  --mainTextSize:20px;
} */
:root {
  --background: #fdd2bf;
  --cardColor: #e98580;
  --fontColor: #f6f5f5;
  --textAreaBg: #df5e5e;
  --mainTextSize: 20px;
}
body {
  padding: 10px;
  max-width: 960px;
  margin: 0px auto;
  margin-right: auto;
  background-color: var(--background);
  font-weight: lighter;
  font-size: var(--mainTextSize);
  font-family: "Poppins", sans-serif;
  /* padding: 0px 10px 0px 10px; */
  color: var(--fontColor);
}
::selection {
  background: var(--background);
  color: #df5e5e;
  border-radius: 20px;
}
small {
  font-size: 12px;
}
img {
  cursor: pointer;
}
.note {
  background-color: var(--cardColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--textAreaBg) 0px 3px 8px;
}
.note div{
  display: flex;
}
.note div img{
  align-self: flex-start;
  /* margin-top: 3px; */
}
.note div span{
  align-self: center;
  align-self: flex-start;
}
.note.new {
  background-color: var(--textAreaBg);
  font-size: var(--mainTextSize);
  height: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

textarea {
  border: none;
  background-color: var(--textAreaBg);
  resize: none;
  font-size: var(--mainTextSize);
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
}
textarea:focus {
  outline: none;
  overflow: hidden;
}
textarea::placeholder {
  color: var(--background);
  font-size: var(--mainTextSize);
}

.save {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  background-color: var(--fontColor);
  color: var(--textAreaBg);
  font-family: "Poppins", sans-serif;
  transition: all 300ms ease-in-out;
}
.save:hover {
  background-color: var(--background);
}
.load-animation {
  animation: note-pop 1s ease-in-out;
}
@keyframes note-pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
